<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h3>Вы вошли как <a href="/users/profile/{{ user.profile.id }}">{{ request.user.username }}</a></h3>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <div>
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    {% endif %}
    <h1>Новости</h1>

    {% if news_list %}
        {% if request.user.is_staff %}
            <div>
                <h3>Не опубликованные новости</h3>
                {% for news in news_list %}
                    <ul>
                        {% if not news.interest %}
                        <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
                        {% endif %}
                    </ul>
                {% endfor %}
                <h3>Опубликованные новости</h3>
                {% for news in news_list %}
                    <ul>
                        {% if news.interest %}
                        <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ news_list.order_by('-created_at') }}
                <button type="submit"></button>
            </form>
            {% if tag %}
                <h2>News tagged with "{{ tag.name }}"</h2>
            {% endif %}
            <p class="tags">
                Tags:
                {% for tag in tag_all %}
                    <a href="{% url 'news_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% for news in posts %}
                <ul>
                    {% if news.interest %}
                    <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
                    {% endif %}
                </ul>
            {% endfor %}
        {% endif %}
    {% else %}
    <p>Новостей нет</p>
    {% endif %}
    {% include "news/pagination.html" with page=posts %}
</body>
</html>