<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ news.title }}</title>
</head>
<body>
    <h1>{{ news.title }}</h1>
    <div>{{ news.content }}</div>
    <div>
        {% if news.interest %}
            <p>Активна</p>
        {% else %}
            <p>Не активна</p>
        {% endif %}
    </div>
    <form action="/news/{{ news.id }}/redactor/">
        <button type="submit">Редактировать</button>
    </form>
    <div>
        <h2>Комментарии</h2>
            {% if comment_list %}
                <ul>
                    {% for comment in comment_list %}
                        {% if comment.news.id == object.id %}
                            <li>
                                <h5>{{ comment.user_name }}</h5>
                                {{ comment.comment }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Комментариев пока нет</p>
            {% endif %}

        <form action="/news/comment_new/">
            <button type="submit">Оставить комментарий</button>
        </form>
    </div>
</body>
</html>