<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
    <div>{{ object.content }}</div>
    <div>{{ object.interest }}</div>
    <form action="/news/{{ object.id }}/redactor/">
        <button type="submit">Редактировать</button>
    </form>
    <div>
        <h2>Комментарии</h2>
            {% if comment_list %}
                {% for comment in comment_list %}
                <ul>
                    <li>
                        {{ comment.comment }}
                    </li>
                </ul>
                {% endfor %}
            {% else %}
                <p>Комментариев пока нет</p>
            {% endif %}

        <form method="post">
        {% csrf_token %}
            <div>
                <textarea placeholder="Комментарий"></textarea>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>